.about-container{
    width: 80%;
    height: 10rem;
    margin: 0 auto;
    @include flex(flex-end);
    flex-direction: column;
    background: url(../../../public/about.jpg) no-repeat center center/cover;
    opacity: 0.9;
    h1{
        text-transform: capitalize;
        font-family: $secondary-font;
        color: $font-dark;
        text-align: center;
        font-size: 4rem;
        letter-spacing: 0.5rem;
    }
 
}
.about-content{
    @extend %card;
    width: 80%;
    height: 30%;
    margin: 0 auto;
    font-size: 1.5rem;
    line-height: 1.3;
    color: $font-dark;
    font-weight: 600;
    margin-bottom: 1rem;
    .contact{
        text-align: center;
    }
    a{
        background-color: $font-dark;
    }
}