

/* /////////////////////footer////////////////////////////// */
.footer{
    margin: 0;
    background-color: $primary-color-light;
    height: 5rem;
    text-align: center;
    font-size: 1.8rem;
    padding-top: 2rem;
    color: darken($primary-color,30%);
}