@media(max-width:900px){
    .container {
        main{
            min-height: 84vh;
        }
    }  
    .navbar {
       padding: 2rem;
        position: relative;
        height: 5rem;
        
        .nav-links{
            height: 2.5rem;
            width:fit-content;
            flex-direction: column;
            position: absolute;
            top: 5rem;
            right: 0;
            left: -2;
            li a{
                height: 2.5rem;
                width:100vw;
                padding: 0.5rem 0;
            }  
          }
          .profile-menu{
            top:4rem;
            right: 2rem;
          }
      }
     
      .show-case{
        height: 81vh;
        img{
            display: none;
        }
      }
      .search-container{
        form{
            padding-top: 5rem;
            input{
                width: 30rem;
            }
        }
      }
      .services-list{
        width: 100%;
        padding-top: 5rem;
        .service-card{
           @extend %card;
           @include flex(center);
           flex-direction: column;
           height:min-content;
           width:95%;
           img{
            margin-bottom: 1rem;
           }
           .service-content{
            width: 90%;
           }
        }
        .reviews{
            width: 95%;
        }
    }
    .profile-container{
        h1{
            padding-top: 5rem;
        }
        .services-list{
            padding-top: 1rem;
        }
    }
    .form-container{
        padding-top: 3rem;
    }
     .about-container{
        margin-top: 7rem;
        height: 20rem;
        h1{
            color: $primary-color-lightest;

        }
     }
}