.container {
    margin: 0 auto;
    max-width: 1600rem;
    main{
        min-height: 81vh;
        padding-top: 2rem;
    }
}
%btn {
    display: inline-block;
    font-size: 1.5rem;
    padding: 0.8rem 1.2rem;
    border-radius: 0.6rem;
    border: none;
    text-align: center;
    cursor: pointer;
    @include set-background($primary-color-dark);
    &:hover {
        transform: scale(.98);
    }
  }
.btn-primary {
    @extend %btn;
    display: block;
    width:fit-content;
    margin: 1rem auto;
}
.btn-secondary {
    @extend %btn;
    margin-left: 80%;
}
.btn-wide {
    @extend %btn;
    display: block;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.bg-primary{
    background-color: $primary-color;
}
.bg-secondary{
    background-color: $secondary-color;
}
.bg-red{
    background-color: $red-color;
}
.btn-choices {
    @extend %btn;
    margin: 2rem 2rem;
    @include set-background($primary-color);
}
.btn-current{
    @include set-background($primary-color-dark);

}
.btn-user {
    @extend %btn;
    @include set-background($primary-color);
    border-radius: 5rem;
    padding: 1rem
}
.btn-whatsapp{
    @extend %btn;
    @include set-background(rgb(158, 242, 158));
    height: 2.5rem;
    padding: 0.5rem;
    font-size: 1.3rem;
    font-family: $secondary-font;
    svg{
        font-size: 1.5rem;
    }

}
.btn-star{
    color: rgb(249, 116, 116);
    font-size: 3rem;
    font-weight: 100;
    border: none;
    background:none;
    margin-bottom: 35%;
cursor: pointer;
}
// flex
@mixin flex($content-direction) {
    display: flex;
    align-items: center;
    justify-content: $content-direction;
  }

  // set border
@mixin border() {
    border: 1px $primary-color-light solid;
    border-radius: 0.5rem;
  }

//   rating
.rating{
    background-color: rgb(198, 247, 177);
    width: 4rem;
    height: 3rem;
    padding: 0.5rem;
    text-align: center;
    @include border();
    border-radius: 40%;
}

@keyframes spinner {
    to {
      transform: rotate(360deg);
    }
}
.loading {
    width: 6rem;
    height: 6rem;
    border: 5px solid $font-dark;
    border-radius: 50%;
    border-top-color: $primary-color;
    animation: spinner 0.6s linear infinite;
    margin: 0 auto;
}